@model NewsApp.Data.Roles

@{
    ViewData["Title"] = "AssignUserRole";
}

<h1>AssignUserRole</h1>

<h4>Roles</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignUserRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Roles</label>
                <select class="form-control" name="roleId" asp-items="@ViewBag.RoleType">
                    <option disabled selected>Select a Role</option>
                </select>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
