@{
    ViewData["Title"] = "About Us";
}

<br />
<div class="about-section" style="padding: 50px;background-color: #474e5d;color: white">
    <h3 style="font-weight: bold;">About Us<br /></h3>
    <p style="text-align: justify">
        We’ve made it our mission to make decisions easier by helping you choose from the top options available. Our team of editors and writers spend hours reviewing products and services, comparing features, and diving into the nitty-gritty details. This way, we give you top-notch lists and reviews saving you time, money, and headaches.<br />
        Finding the best products and services means setting a high standard. Our diverse team is serious about research. Once our editors select a topic , the team tests ( if possible ) and evaluates products and services related to those topics . While our comparison lists are the nucleus of  "Five News.com" , we also feature product reviews , feature comparisons , guides, articles , how-to’s , tools , videos , and tutorials.
    </p>
</div>
<br />
<br />

<h1 style="font-weight: bold; text-align:center">Our Team</h1>
<div class="row">
    <div class="column" style="float: left; width: 19%; margin-bottom: 20px; padding: 0 8px">
        <div class="card" style="width: 13rem; padding:5px; margin:13px">
            <div class="card-body" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2) "></div>
            <img src="/image/contact-images/yaaldaa.png" height="200" width="150" style="width:100%" />
            <div class="container">
                <h2 style ="text-align:center"> Yalda</h2>
                <a>
                    <i class="fa-solid fa-envelope-open-text"></i>
                    Yalda@test.com
                </a>
                <a>
                    <i class="fas fa-phone-square"></i>
                    0700000001
                </a>
            </div>
        </div>
    </div>

    <div class="column" style="float: left; width: 19%; margin-bottom: 20px; padding: 0 8px">
        <div class="card" style="width: 13rem; padding:5px; margin:13px">
            <div class="card-body" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2) "></div>
            <img src="~/image/contact-images/mengsha.jpg" height="200" width="150" style="width:100%" />
            <div class="container">
                <h2 style="text-align:center">Mengsha</h2>
                <a>
                    <i class="fa-solid fa-envelope-open-text"></i>
                    M.zha@test.com
                </a>
                <a>
                    <i class="fas fa-phone-square"></i>
                    0700000002
                </a>
            </div>
        </div>
    </div>

    <div class="column" style="float: left; width: 19%; margin-bottom: 20px; padding: 0 8px">
        <div class="card" style="width: 13rem; padding:5px; margin:13px">
            <div class="card-body" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2) "></div>
            <img src="~/image/contact-images/jona.jpg" height="200" width="150" style="width:100%" />
            <div class="container">
                <h2 style="text-align:center">Jonas</h2>
                <a>
                    <i class="fa-solid fa-envelope-open-text"></i>
                    Jonta@test.com
                </a>
                 <a>
                    <i class="fas fa-phone-square"></i>
                    0700000003
                </a>
            </div>
        </div>
    </div>

    <div class="column" style="float: left; width: 19%; margin-bottom: 20px; padding: 0 8px">
        <div class="card" style="width: 13rem; padding:5px; margin:13px">
            <div class="card-body" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2) "></div>
            <img src="~/image/contact-images/sudha.jpg" height="200" width="150" style="width:100%" />
            <div class="container">
                <h2 style="text-align:center">Sudha</h2>
                <a>
                    <i class="fa-solid fa-envelope-open-text"></i>
                    Sudha@test.com
                </a>
                <a>
                    <i class="fas fa-phone-square"></i>
                    0700000004
                </a>
            </div>
        </div>
    </div>

    <div class="column" style="float: left; width: 19%; margin-bottom: 20px; padding: 0 8px">
        <div class="card" style="width: 13rem; padding:5px; margin:13px">
            <div class="card-body" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2) "></div>
            <img src="/image/contact-images/peter.jpg" height="200" width="150" style="width:100%" />
            <div class="container">
                <h2 style="text-align:center">Peter</h2>
                <a>
                    <i class="fa-solid fa-envelope-open-text"></i>
                    Peter@test.com
                </a>
                <a>
                    <i class="fas fa-phone-square"></i>
                    0700000005
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
