@{
    ViewData["Title"] = "Home Page";
}

<!--main content-->




<div class="row">

    @*    <div class="col-md-4 card container-fluid">
    <div><a class="btn btn-primary" href=""><h3>Popular News</h3></a></div><hr />
    <div><a class="btn btn-primary" href=""><h3>Latest News</h3></a></div><hr />
    <div><a class="btn btn-primary" href=""><h3>Editor choice</h3></a></div><hr />
    </div>
    *@

    <div class="col-md-4" style="background-color:palegoldenrod; margin:0px; border-color:black">
        <ul>
            <li>
                <h3>Popular News</h3><hr />
            </li>
            <li>
                <h3>Latest News</h3><hr />
            </li>
            <li>
                <h3>Editor choice</h3><hr />
            </li>
        </ul>
    </div>


    <div class="col-md-7 card">
        
        <h3 class="card-title text-center m-5">Unemployment falls, whilst inflation continues to rise</h3>
        <img src="/Images/Tomatoes.PNG" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">At the end of August there were roughly 335,000 people registered at the employment agency.</p>
            <a class="btn btn-primary" href="/Article/FullArticle/23">View Full Article</a>
        </div>
    </div>
</div>


