@{
    ViewData["Title"] = "Home Page";
}

<!--main content-->


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <<div class="carousel-item active col-md-3 p-2 bg-warning text-light text-center">
            <span class="p-2">Silver</span>
            <span class="p-2">19.413</span>
            <span class="bg-success">+0.28%</span>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="p-2">Brent Oil</span>
            <span class="p-2">91.96</span>
            <span class="bg-danger">-0.04%</span>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="p-2">Natural Gas</span>
            <span class="p-2">7.836</span>
            <span class="bg-danger">-0.38%</span>
        </div>

        <div class="carousel-item col-md-3 p-2 bg-warning text-light text-center">
            <span class="p-2">Apple</span>
            <span class="p-2">154.48</span>
            <span class="bg-success">+2.51</span>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="p-2">EUR/USD</span>
            <span class="p-2">0.9984</span>
            <span class="bg-danger">-0.34%</span>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="p-2">Netflix</span>
            <span class="p-2">243.63</span>
            <span class="bg-success">+1.46%</span>
        </div>

        <div class="carousel-item col-md-3 p-2 bg-warning text-light text-center">
            <span class="p-2">Gold (USD/oz)</span>
            <span class="p-2">1672.6</span>
            <span class="bg-danger">-0.65%</span>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="p-2">Nikkei 225</span>
            <span class="p-2">27567.65</span>
            <span class="bg-danger">-1.11%</span>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="p-2">Tesla</span>
            <span class="p-2">309.07</span>
            <span class="bg-success">+1.89%</span>
        </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />



