@{
    ViewData["Title"] = "Home Page";
}

<!--main content-->




<div class="row">

    @*    <div class="col-md-4 card container-fluid">
    <div><a class="btn btn-primary" href=""><h3>Popular News</h3></a></div><hr />
    <div><a class="btn btn-primary" href=""><h3>Latest News</h3></a></div><hr />
    <div><a class="btn btn-primary" href=""><h3>Editor choice</h3></a></div><hr />
    </div>
    *@

    <div class="col-md-4" style="background-color:palegoldenrod; margin:0px; border-color:black">
        <ul>
            
            <li>
                <a class="side-view-link" asp-controller="Home" asp-action="PopularArticles" asp-route-CatagoryName="PopularNews"><h3>Popular News</h3></a><hr />
            </li>
            <li>
             <a class="side-view-link" asp-controller="Home" asp-action="LatestArticles" asp-route-CatagoryName="LatestNews"><h3>Latest News</h3></a><hr />
            </li>
            <li>
                <h3>Editor choice</h3><hr />
            </li>
            
           
        </ul>
    </div>


    <div class="col-md-7 card">
        
        <h3 class="card-title text-center m-5">One Royal Reportedly Fainted As The Queen's Coffin Arrived At Westminster Hall </h3>
        <img src="https://www.thelist.com/img/gallery/one-royal-reportedly-fainted-as-the-queens-coffin-arrived-at-westminster-hall/intro-1663282769.jpg" class="card-img-top" alt="Queen Elizabeth">
        <div class="card-body">
            <p class="card-text">As Queen Elizabeth's coffin arrived at Westminster Hall on Wednesday, September 14, Lady Gabriella Windsor reportedly fainted, creating a stir amongst attending members of the royal family.</p>
            <a class="btn btn-primary" href="/Article/FullArticle/23">View full Airticle</a>
        </div>
    </div>
</div>


