
<h1>Thank You, your subscription are completed!</h1>
<h3>We've successfully processed your payment.</h3>
<p>You can access your subscription information from <a  asp-action="SubDetails" asp-controller="Subscription">My Subscription</a> page. </p>


