@using Microsoft.AspNetCore.Identity
@model Comment
@inject UserManager<User> UserManager

@{
    var userId = UserManager.GetUserId(User);
}

<a asp-action="Details" asp-controller="Comment" asp-route-id="@Model.Id" class="text-decoration-none text-dark">

<div class="card mt-2" style="width: 67rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.User.GetFullName()</h5>
    <p class="card-text">@Model.Body</p>
     <div>
        @if (Model.User.Id==userId)
        {
            <a asp-action="Delete" asp-controller="Comment" asp-route-id="@Model.Id" class="card-link text-danger text-sm-end">Delete</a>
        }
     </div>
    
    
       

  </div>
</div>
</a>