@using NewsApp.Data
@using Microsoft.AspNetCore.Identity
@using NewsApp.Services
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ISubscriptionService subscriptionService

@{
    var user = await UserManager.GetUserAsync(User);
}



<script>
    setInterval(timer, 1000);
    function timer() {
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear()) + " " + (("0" + dt.getHours()).slice(-2)) + ":" + (("0" + dt.getMinutes()).slice(-2)) + ":" + (("0" + dt.getSeconds()).slice(-2));
    }
</script>
<ul class="navbar-nav ms-auto">
    <li class="text-light nav-item m-0 m-lg-auto" id="datetime"></li>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole(Roles.Administrator))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Administrator
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" asp-controller="User" asp-action="Index">Manage Users</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="Roles">Manage Roles</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-controller="Subscription" asp-action="Index">Manage Subscriptions</a></li>
                </ul>
            </li>
        }
        @if (User.IsInRole(Roles.Editor))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Editor
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" asp-controller="Editor" asp-action="Index">Manage Articles</a></li>

                </ul>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.FirstName</a>
        </li>
        @if (!subscriptionService.HasSubscription(User))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Subscription" asp-action="CreateUserSubscription">Subscribe Now</a>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light btn btn-warning btn-sm" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
